.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
